<?xml version="1.0"?>
<config>
  <default>
    <quickcontact>
      <email_config>
        <email_template>quickcontact_email_config_email_template</email_template>
      </email_config>
      <general>
        <slogan>Send us your question. We'll contact your shortly!</slogan>
        <enabled>1</enabled>
        <enabled_sidebar>1</enabled_sidebar>
        <position>left</position>
        <enabled_captcha>1</enabled_captcha>
      </general>
      <email_setting>
        <recipient_admin_email><![CDATA[hello@example.com]]></recipient_admin_email>
        <email_admin_sender>custom2</email_admin_sender>
        <email_customers_sender>custom2</email_customers_sender>
        <email_admin_template>quickcontact_email_setting_email_admin_template</email_admin_template>
        <email_customers_template>quickcontact_email_setting_email_customers_template</email_customers_template>
      </email_setting>
    </quickcontact>
  </default>
  <modules>
    <Magebuzz_Quickcontact>
      <version>0.1.2</version>
    </Magebuzz_Quickcontact>
  </modules>
  <frontend>
    <routers>
      <quickcontact>
        <use>standard</use>
        <args>
          <module>Magebuzz_Quickcontact</module>
          <frontName>quickcontact</frontName>
        </args>
      </quickcontact>
    </routers>
    <layout>
      <updates>
        <quickcontact>
          <file>quickcontact.xml</file>
        </quickcontact>
      </updates>
    </layout>
  </frontend>
  <admin>
    <routers>
      <quickcontact>
        <use>admin</use>
        <args>
          <module>Magebuzz_Quickcontact</module>
          <frontName>quickcontact</frontName>
        </args>
      </quickcontact>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <quickcontact>
          <file>quickcontact.xml</file>
        </quickcontact>
      </updates>
    </layout>
  </adminhtml>
  <global>
    <events>
      <controller_action_predispatch_contacts>
        <observers>
          <magebuzz_quickcontact_observer>
            <type>singleton</type>
            <class>quickcontact/observer</class>
            <method>quickContactObserver</method>
          </magebuzz_quickcontact_observer>
        </observers>
      </controller_action_predispatch_contacts>
    </events>
    <models>
      <quickcontact>
        <class>Magebuzz_Quickcontact_Model</class>
        <resourceModel>quickcontact_mysql4</resourceModel>
      </quickcontact>
      <quickcontact_mysql4>
        <class>Magebuzz_Quickcontact_Model_Mysql4</class>
        <entities>
          <quickcontact>
            <table>quickcontact</table>
          </quickcontact>
        </entities>
      </quickcontact_mysql4>
    </models>
    <resources>
      <quickcontact_setup>
        <setup>
          <module>Magebuzz_Quickcontact</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </quickcontact_setup>
      <quickcontact_write>
        <connection>
          <use>core_write</use>
        </connection>
      </quickcontact_write>
      <quickcontact_read>
        <connection>
          <use>core_read</use>
        </connection>
      </quickcontact_read>
    </resources>
    <template>
      <email>
        <quickcontact_email_setting_email_customers_template translate="label" module="quickcontact">
          <label>Email Customer Template</label>
          <file>quickcontact/quickcontact_email_customer.html</file>
          <type>text</type>
        </quickcontact_email_setting_email_customers_template>
        <quickcontact_email_setting_email_admin_template translate="label" module="quickcontact">
          <lable>Admin Email Template</lable>
          <file>quickcontact/quickcontact_email_admin.html</file>
          <type>text</type>
        </quickcontact_email_setting_email_admin_template>
      </email>
    </template>
    <blocks>
      <quickcontact>
        <class>Magebuzz_Quickcontact_Block</class>
      </quickcontact>
    </blocks>
    <helpers>
      <quickcontact>
        <class>Magebuzz_Quickcontact_Helper</class>
      </quickcontact>
    </helpers>
  </global>
</config>